QDialog{
    background: url(./res/img/small_dialog_bg);
}
QLabel {
    color: #FFFFFF;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    font-weight: bold;  
}
QPushButton {
     border-radius: 5px;
     background-color: #46A6FD;
     min-height: 20px;
     min-width: 60px;
     color: #FFFFFF;
     font-family: "Microsoft YaHei";
     font-size: 12px;
}

QPushButton:default {
     background-color: #46A6FD;
}

QPushButton:hover{
     background-color: #64C8FE;
}

