
QListWidget {
    border-radius: 5px;
    border: 0px;
    outline: 0px;
    background-color: #595959;
}

QListWidget::Item {
    background: transparent;
    color: transparent;
    min-width: 700px;
    min-height: 93px;
    font-family: "Microsoft YaHei";
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
}

QListWidget::Item:hover {
    background: #646464;
}

QListWidget::Item:selected {
    background: #4e4e4e;
}